# Python packages and version used in development environment

-e hg+ssh://hg@bitbucket.org/douglatornell/randopony-tetra@ab77b763eb42a83fe86c31a13c3a3a90f80d0981#egg=RandoPony-dev

-e hg+ssh://hg@bitbucket.org/douglatornell/nosy@ca9e3e5e6c382d033b3521fbeab90e19d6c9e3d5#egg=nosy-dev

Chameleon==2.11
Fabric==1.5.2
Jinja2==2.7.2
Mako==0.7.3
MarkupSafe==0.15
PasteDeploy==1.5.0
PyBrowserID==0.9.1
Pygments==1.5
SQLAlchemy==0.8.0b2
Sphinx==1.2
WebOb==1.2.3
amqp==1.0.6
anyjson==0.3.3
billiard==2.7.3.19
celery==3.0.12
colander==1.0a1
coverage==3.6
deform==0.9.6
distribute==0.6.34
docutils==0.11
gdata==2.0.17
kombu==2.5.4
meld3==0.6.10
mock==1.0.1
paramiko==1.9.0
peppercorn==0.4
pycrypto==2.6
pyramid-debugtoolbar==1.0.3
pyramid-deform==0.2a5
pyramid-mailer==0.10
pyramid-persona==1.2
pyramid-tm==0.5
pyramid==1.4
python-dateutil==1.5
pytz==2012h
repoze.lru==0.6
repoze.sendmail==3.2
requests==1.0.3
supervisor==3.0b1
transaction==1.4.0b1
translationstring==1.1
venusian==1.0a7
waitress==0.8.2
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.3
zope.sqlalchemy==0.7.1
