/* Styles for RandoPony admin interface pages */

.navbar-inverse .navbar-inner {
    background-color: rgb(174, 0, 0);
    background-image: none;
    border-color: rgb(174, 0, 0);
}
.container .admin-list {
    margin-left: 0;
    width: 320px;
}
ul.admin-list {
    padding-left: 30px;
}
ul.admin-list li, li.admin-list {
    line-height: 35px;
}
.add-btn {
    margin-left: 15px;
}
.deformSet {
    margin: 6px 0;
    padding: 3px;
}
